.card{
    padding-top: 20px;
    margin: 60px;
    border-radius: 10px;
    border: 2px red solid ;
    width: 200px;
    text-align: center;
    height: 300px;
}
.column{
        float: left;
        width: 25%;
        padding: 0 10px;
      }
    
    